{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}
   <div ><p>Buy a laptop in Nepal can be a tough job. Due to the small market, computer stores always bring just a few models of laptops and all with limited stock. So chances of finding a laptop that fits your requirements are feeble.  And if you further look at the laptop price in Nepal, you will be shocked to see it being exorbitantly high. Limited availability and the high price of the laptops has definitely created an inconvenience amongst the customers. With a view to solving this problem, ITTI Pvt Ltd was established.

        In our 15 years of illustrious journey, ITTI always strived to provide the best of our services. With a wide variety of products and a reasonable price, we definitely have made big efforts to provide the best laptops to our customers at the best price. So acknowledging our untiring efforts to keep the customers happy, ITTI Pvt Ltd is often lauded as the best place to buy laptops in Nepal.
        
        However, our product lineup is not just limited to ordinary laptops. To encompass all sorts of users, ITTI Pvt Ltd has filled its shelf with a handful of gaming laptops and thin and light ultrabooks on the top of the regular or general-purpose laptops. In addition to that, you can find plentiful of desktops, regular and gaming monitors, televisions, and other computer accessories at our store.
        
        Although our store is located in Putalisadak, Kathmandu, our service is not just limited to valley dwellers. To ensure convenience for the people outside the Kathmandu valley, we have a free shipping service. And to further improve your online purchasing experience, we are also offering 7-days no questions asked return policy. So we've got you all covered.
        
        Gaming Laptop | Desktop Computers | Smart TV | Mobile Phones | Accessories | Ultra Book | Notebook | 2 IN 1 Laptops | Upcoming Laptops | Monitors | Acer | Alienware | Apple | Asus | Dell | HP | Lenovo|Microsoft | MSI | Razerblade
    
    </p>
    </div>
{% endblock %}